<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./tailwind.js"></script>
    <title>21037621 - Duong Thai Bao</title>
</head>

<body class="w-full">
    <div class="container mx-auto w-7/12 p-4 space-y-8">
        <p class="text-red-500 text-lg font-bold">Nhà xuất bản ABZ</p>
        <h2 class="text-3xl text-blue-500 font-bold uppercase text-center">Danh mục các báo</h2>

        <p><a class="text-blue-700 hover:underline" href="add"> Thêm báo mới </a></p>
        <table class="table-auto border-collapse border w-full">
            <thead class="border bg-gray-300">
                <tr class="border">
                    <th class="border">STT</th>
                    <th class="border">Tên bài báo</th>
                    <th class="border">Nhóm tác giả</th>
                    <th class="border">Chỉ số ISBN</th>
                    <th class="border">Số trang</th>
                    <th class="border">Năm xuất bản</th>
                    <th class="border">Image</th>
                    <th class="border">Action</th>
                </tr>
            </thead>
            <tbody class="border">
                <% if (papers.length){ papers.forEach( (item, index) => { %>
                    <tr class="border">
                        <td class="border px-4 py-1">
                            <%= index + 1 %>
                        </td>
                        <td class="border px-4 py-1">
                            <%= item.name %>
                        </td>
                        <td class="border px-4 py-1">
                            <%= item.authors %>
                        </td>
                        <td class="border px-4 py-1">
                            <%= item.isbn %>
                        </td>
                        <td class="border px-4 py-1">
                            <%= item.numberSheet %>
                        </td>
                        <td class="border px-4 py-1">
                            <%= item.year %>
                        </td>
                        <td class="border px-4 py-1">
                            <img src="<%= item.image %>" alt="" srcset="" class="w-12 h-12 object-cover">
                        </td>
                        <td class="border px-4 py-1"><a href="/delete?id=<%= item.id %>" class="text-blue-700 hover:underline">Xóa</a></td>
                    </tr>
                    <%   })} else { %>

                        <tr class="border">
                            Hiện chưa có bài báo nào
                        </tr>
                        <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>